


.author-name {
  position: absolute;
  width: 100%;
  height: 180px;
  z-index: -1;
  top: 0px;
	font-family: 'Nunito', monospace;
	color: #fff;
	background-color: rgba(230,244,249,0.8);
}

.author-name .content {
	position: relative;
	display: grid;
	justify-content: center;
	align-content: center;
	/* height: 100vh; */
	overflow: hidden;
	/* min-height: 650px; */
	margin: 0 auto;
}

.author-name .content--layout {
	/* grid-template-columns: 100%; */
	/* padding: 3em 0; */
}

.author-name .word {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.author-name .word--playful {
  height: 180px;
  margin-left: -35px;
	font-size: 6vw;
	font-family: 'Vidaloka', serif;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	line-height: 0.65;
}

.author-name .word--playful > span {
  padding: 25px 0 ;
  display: block;
	cursor: pointer;
	position: relative;
}

.author-name .word--playful span span {
	display: block;
	pointer-events: none;
}

.author-name i{
	width: 200px;
	opacity: 0;
}
